body {
  margin: 0%;
  background: url("bg.jpg") no-repeat center center/cover;
  width: 100%;
  height: 110vh;
  color: black;
  font-family: sans-serif;
  letter-spacing: 1px;
}

h1,
h2 {
  font-size: normal;
}

#wrapper {
  background-color: #eee;
  width: 80%;
  margin: 50px auto;
  max-width: 960px;
  border-radius: 5px;
  box-shadow: 1px 20px 20px rgb(0, 0, 0, 7);
  border: 3px solid rgb(71, 39, 39);
  padding: 0 0 20px;
  overflow: hidden;
}

#page-banner {
  background: url("cover.jpg") no-repeat center center/cover;
  align-items: center;
  padding: 10px 0;
}

#page-banner h1,
#page-banner p {
  width: 100%;
  text-align: center;
  color: black;
  margin: 10px auto;
}

#movie-list,
#add-movie {
  margin: 30px;
}

#movie-list ul {
  list-style-type: none;
  padding: 0%;
  font-size: 18px;
  height: 20vw;
  overflow-y: scroll;
}

#movie-list li {
  margin: 20px 20px;
  border-left: 5px solid #ddd;
  padding: 20px;
}

#movie-list li:hover {
  border-color: aqua;
  box-shadow: 0px 5px 5px rgb(70, 68, 68);
}

.delete {
  float: right;
  margin-top: -5px;
  background-color: red;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.delete:hover {
  background-color: rgb(136, 21, 21);
  padding: 10px;
  border-radius: 6px;
}

#add-movie input {
  display: block;
  margin: 2% 0% 2% 21%;
  padding: 1%;
  font-size: 1.1rem;
  border-radius: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  width: 45%;
  clear: both;
}

#add-movie button {
  display: inline-block;
  background: green;
  margin: 2% 0;
  padding: 1% 2%;
  font-size: 1.1rem;
  border: 1px solid green;
  border-radius: 0px 4px 4px 0;
  border-left: 0;
  cursor: pointer;
  width: 100px;
  color: white;
}

#add-movie button:hover {
  background: darkgreen;
}

#add-movie button:after {
  content: "";
  display: block;
  clear: both;
}

#add-movie label {
  line-height: 52px;
}
/* css for footer */

.foot{
  position: fixed;
  background-color: black;
  color:#fff;
  text-align: center;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* padding: 30px 0px; */
}

/* css for larger tablet screen */

@media only screen and (max-width: 991px) {
  #movie-list ul {
    height: 30vw;
    font-size: 1.3rem;
  }
}

/* css for medium tablet screen */

@media only screen and (max-width: 767px) {
  #movie-list ul {
    height: 50vw;
    font-size: 1.2rem;
  }

  #add-movie input {
    margin: 2% 0% 2% 15%;
    font-size: 1.1rem;
    width: 50%;
  }

  #add-movie button {
    margin: 2% 0;
    font-size: 1.1rem;
    width: 20%;
  }
}

@media only screen and (max-width: 479px) {

    #wrapper {
        width: 90%;
        margin: 35px auto;
    }

    #movie-list,
#add-movie {
  margin: 10px;
}

.name{
  font-size: 0.9rem;
  letter-spacing: 0px;
}

  #movie-list ul {
    height: 65vw;
    font-size: 1rem;
  }

  #movie-list li {
  margin: 12px 0px;
  padding: 10px;
}

.delete{
    font-size: 0.8rem;
}

  #add-movie input {
    display: block;
    margin: 4% 10%;
    font-size: 1.1rem;
    width: 80%;
  }

  #add-movie button {
    display: block;
    margin: 2% auto;
    font-size: 1.1rem;
    border-radius: 4px 4px 4px 4px;
    width: 50%;
  }
}
